@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .card-library.view-content {
    @apply  !overflow-hidden border-border bg-background text-foreground p-0;



    section#page-wrapper {
      @apply flex flex-col h-full;

      .content-wrapper {
        @apply flex flex-col flex-1 h-full max-h-full;
      }
    }

    .canvas-embed {
      .embed-title {
        @apply hidden;
      }
    }

    .markdown-embed {
      @apply pl-0;
    }
  }
}

svg, span, div {
  &.card-color-1 {
    color: rgb(var(--mod-facet-color-1));
  }

    &.card-color-2 {
        color: rgb(var(--mod-facet-color-2));
    }

    &.card-color-3 {
        color: rgb(var(--mod-facet-color-3));
    }

    &.card-color-4 {
        color: rgb(var(--mod-facet-color-4));
    }

    &.card-color-5 {
        color: rgb(var(--mod-facet-color-5));
    }

    &.card-color-6 {
        color: rgb(var(--mod-facet-color-6));
    }
}

.cl-card {
  .collapsed-block::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    opacity: .9;
  }
}

.view-header-title-container {
  @apply flex items-center justify-between w-full;
}
